**/bin/
**/target/
**/build/
**/.gradle/
**/.DStore
**/.DS_Store
**/.settings
**/.project
**/.classpath
**/.idea
**/*.iml
/storage/
*.db
*.dat
hivemq-config/
hivemq-data/
*.env

# test bucket store
oscar/
files/